%flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

$defaultFontSize: 14px;

%defaultFont {
  font-family: sans-serif;
  color: #CCC;
  font-size: $defaultFontSize;
  font-weight: 400;
}
